@font-face {
  font-family: "Lovera Personal Use";
  src: url("./Lovera.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

body {
  background-color: #2e39e1;
  position: relative;
}

.navigator {
  background-color: #2e39e1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.navbar-menu li {
  color: #ffffff;
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 12pt;
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #e771bf;
}

body.prevent-scroll {
  overflow: hidden;
}

h1 {
  font-family: "Lovera Personal Use";
  font-style: normal;
  font-weight: 400;
  font-size: 164px;
  line-height: 84%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

h2 {
  font-family: "Lovera Personal Use";
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 84%;
  color: #2e39e1;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: -16px 0px;
}

h3 {
  font-family: "Pretendard";
  font-weight: 200;
  font-size: 20pt;
  line-height: 40px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

h4 {
  font-family: "Lovera Personal Use";
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 84%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: -16px 0px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 140px 0px;
  gap: 257px;
  height: 972px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.main2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 100px 140px 0px;
  height: 972px;
  flex: none;
}

.about2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.about_box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 48px;
  width: 1520px;
  height: 587px;
  background: #ffffff;
  border: 2px solid #2e39e1;
  box-shadow: 16px 16px 0px #e771bf;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.like {
  background-image: url(catlove_bg.png);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 140px 0px;
  gap: 257px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.like2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 257px;
}

.contact {
  background-color: #2e39e1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 140px 0px;
  gap: 257px;
  height: 972px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}
